
@{
    ViewBag.Title = "Dashboard";
}
<link href="~/Content/CSS/animate.min.css" rel="stylesheet" />
<link href="~/Content/CSS/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/CSS/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/CSS/main.css" rel="stylesheet" />
<link href="~/Content/CSS/owl.carousel.css" rel="stylesheet" />
<link href="~/Content/CSS/responsive.css" rel="stylesheet" />



<body>
    <!--
    header-img start
    ============================== -->
    <section id="hero-area">
        <img class="img-responsive" src="~/Image/header.jpg" alt="">
    </section>
    <!--
    Header start
    ============================== -->
    <nav id="navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    @*<a class="navbar-brand" href="#">
                                        <img src="~/Image/logo.png" alt="Logo">
                                    </a>*@

                                </div>

                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav navbar-right" id="top-nav">
                                        <li><a href="#hero-area">Home</a></li>
                                        <li><a href="#about-us">about us</a></li>
                                        <li><a href="#blog">Blog</a></li>
                                        <li><a href="#price">menu</a></li>
                                        <li><a href="#subscribe">news</a></li>
                                        <li><a href="#contact-us">contacts</a></li>
                                    </ul>
                                </div><!-- /.navbar-collapse -->
                            </div><!-- /.container-fluid -->
                        </nav>
                    </div>
                </div><!-- .col-md-12 close -->
            </div><!-- .row close -->
        </div><!-- .container close -->
    </nav><!-- header close -->
    <!--
    Slider start
    ============================== -->

    <section id="slider">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                        <div class="title">
                            <h3>Missing <span>People</span></h3>
                        </div>
                        <div id="owl-example" class="owl-carousel">
                            <div>
                                <img  class="img-responsive" src="~/Image/MissingPerson/missing1.jpg" />
                            </div>
                            <div>
                                <img class="img-responsive" src="~/Image/MissingPerson/missing2.jpg" />
                            </div>
                            <div>
                                <img class="img-responsive"  src="~/Image/MissingPerson/missing3.jpg" />
                            </div>
                            <div>
                                <img class="img-responsive"  src="~/Image/MissingPerson/missing4.jpg" />
                            </div>
                            <div>
                                <img class="img-responsive" src="~/Image/slider/slider-img-1.jpg" alt="">
                            </div>
                            <div>
                                <img class="img-responsive" src="~/Image/slider/slider-img-2.jpg" alt="">
                            </div>
                            <div>
                                <img class="img-responsive" src="~/Image/slider/slider-img-3.jpg" alt="">
                            </div>
                            <div>
                                <img class="img-responsive" src="~/Image/slider/slider-img-4.jpg" alt="">
                            </div>

                        </div>
                    </div>
                </div><!-- .col-md-12 close -->
            </div><!-- .row close -->
        </div><!-- .container close -->
    </section><!-- slider close -->


    <script src="~/Scripts/JS/home/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/JS/modernizr-2.6.2.min.js"></script>
    <script src="~/Scripts/JS/jquery.nav.js"></script>
    <script src="~/Scripts/JS/jquery.sticky.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/JS/plugins.js"></script>
    <script src="~/Scripts/JS/wow.min.js"></script>
    <script src="~/Scripts/JS/home/main.js"></script>

    <script>
        $("#owl-example").owlCarousel({
            // Most important owl features
            items: 4,
            pagination: true,
            paginationSpeed: 1000,
            navigation: true,
            navigationText: ["", "<i class='fa fa-angle-right'></i>"],
            slideSpeed: 800,
        });

    </script>
</body>

